nav {
    display: flex;
    background: black;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

div {
    margin: 10px;
    display: flex;
    justify-content: space-around;
}
div > div {
    justify-content: space-between;
    flex-direction: column;
}
h1 {
    text-align: left;
}
a {
    text-decoration: none;
    color: blue;
}

nav > a:link {
    color: white;
}

nav > a:hover {
    color: grey;
}

nav > a:visited {
    color: grey;
}
